/* project styles start  */

.projects-categories-filters {
  color: var(--COLORFULL_PINK);
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
}
.projects-categories-title {
  color: var(--WHITE);
  margin: 0.75rem 0;
}
.vertical-sep-line {
  color: var(--WHITE);
  margin: 0 0.25rem;
}
.projects-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1.5rem;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 1.25rem 0;
  transition: all ease 300ms;
}

.projects-container .project-card {
  position: relative;
  width: auto;
  outline: 2px solid var(--COLORFULL_YELLOW);
  border-radius: 9px;
  color: var(--WHITE);
  transform: translateX(-20%) rotate(0deg);
  opacity: 0;
  overflow: hidden;
  box-shadow: 6px 7px 0px var(--COLORFULL_PURPLE);
  transition: all ease 300ms;
}
.projects-container .project-card:hover {
  box-shadow: -6px -7px 0px var(--COLORFULL_PURPLE);
}
@media (max-width: 768px) {
  .projects-categories-filters {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  .projects-container .project-card {
    flex: auto;
  }
}
.project-card .project-card-image {
  width: 100%;
}
.project-card .project-card-image img {
  width: 100%;
  height: auto;
  opacity: 0.25;
  transition: all ease 300ms;
}
.project-card:hover .project-card-image img {
  opacity: 1;
  transform: scale(1.05);
}

.project-card-content {
  padding: 1rem;
  width: auto;
  transition: all ease 300ms;
}

.project-card-content .project-card-header {
  font-size: large;
  font-weight: bold;
  color: var(--COLORFULL_YELLOW);
  margin: 0.5rem 0;
}
.project-card-content .project-card-body {
  font-size: small;
  color: var(--WHITE);
  font-weight: lighter;
  margin: 0.5rem 0;
}
.project-card-content .project-card-body button {
  background-color: var(--BG_SHADE_LIGHTER);
  color: var(--MAIN_ACCENT);
  font-weight: bold;
  text-decoration: none;
  border: 1px solid var(--WHITE);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  transition: all ease 300ms;
}
.project-card-content .project-card-body button:hover {
  background-color: var(--MAIN_ACCENT);
  color: var(--WHITE);
}

/* project styles end  */
