/* project styles start  */

.projects-categories-filters {
  color: var(--COLORFULL_PINK);
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
}
.projects-categories-title {
  color: var(--WHITE);
  margin: 0.75rem 0;
}
.vertical-sep-line {
  color: var(--WHITE);
  margin: 0 0.25rem;
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.project-card {
  position: relative;
  width: 350px;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 2.5rem;
  transition: all 300ms ease;
}
.project-card:hover {
  transform: translate(0px, -7px);
  box-shadow: 0px 7px 0px var(--MAIN_ACCENT);
  outline: 2px solid var(--MAIN_ACCENT);
}
@media (max-width: 768px) {
  .projects-container {
    flex-direction: column;
    gap: 2rem;
  }
  .project-card {
    width: 100%;
  }
}
@media (max-width: 350px) {
  .project-card {
    width: 100%;
    height: 200px;
  }
}

.project-card-img {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    145deg,
    var(--rand-clr-1, #020024) 0%,
    var(--rand-clr-2, #3c4e51) 100%
  );
  border-radius: 10px;
  transition: all 300ms ease 300ms;
}
.project-card-img h1 {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--WHITE);
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  background-color: var(--LIGHT_BLACK);
  box-shadow: -4px 6px 0px var(--rand-clr-1), 4px -6px 0px var(--rand-clr-2);
  padding: 1rem;
  border-radius: 100%;
}
.project-card:hover > .project-card-img {
  animation: wiggle 0.3s ease forwards;
  opacity: 0.125;
  filter: blur(4px);
}

.project-card-title {
  width: 75% !important;
  position: absolute;
  left: 0.5rem;
  top: 0rem;
  transform: translate(0%, -50%);
  background-color: var(--BG_SHADE_LIGHTER);
  color: var(--MAIN_ACCENT);
  width: min-content;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  font-size: x-large;
  font-weight: bold;
  text-align: start;
  pointer-events: none;
  box-shadow: 1px 2px 6px var(--BLACK);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-bottom: 2px solid var(--WHITE);
  z-index: 2;
  transition: all 300ms ease 300ms;
}

.project-card:hover > .project-card-title {
  /* visibility: hidden; */
  /* opacity: 0; */
  transform: translate(10%, -50%);
  opacity: 0;
}

.project-card-content {
  position: absolute;
  top: 1.5rem;
  max-height: 75% !important;
  width: 100%;
  transform: translateY(10%);
  opacity: 0;
  visibility: hidden;
  padding-inline: 1rem;
  border-radius: 10px;
  font-size: larger;
  color: var(--WHITE);
  padding-bottom: 1rem;
  overflow: scroll;
  line-height: 1.5;
  z-index: 2;
  transition: all 200ms ease-out 450ms;
}
.project-card-content h4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.project-card-content .project-view-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-color: var(--COLORFULL_YELLOW);
  font-size: large;
}
.project-card-content .main-lang {
  color: var(--COLORFULL_YELLOW);
  font-weight: bold;
  background-color: var(--LIGHT_BLACK);
  padding: 0.125rem 0.5rem;
  border-radius: 20px;
  margin-block: 2rem;
  font-size: smaller;
}

.project-card-content > hr {
  width: 100%;
  /* margin: 0 1rem; */
}

.project-card-content::-webkit-scrollbar {
  display: none;
}
.project-card:hover > .project-card-content {
  transform: translateY(0%);
  opacity: 1;
  visibility: visible;
}

.project-card-links {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: flex;
  gap: 1rem;
  transform: translate(-40%, 50%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 300ms ease 450ms;
}
.project-card:hover > .project-card-links {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 50%);
  pointer-events: all;
}
.project-card-links a,
.project-card-links button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  font-size: inherit;
  border: unset !important;
  outline: 1px solid var(--MAIN_ACCENT) !important;
  border-radius: 6px;
}
.project-card-links a:hover,
.project-card-links button:hover {
  border: unset !important;
  outline: 1px solid var(--COLORFULL_YELLOW) !important;
  color: var(--WHITE);
}

/* project styles end  */
