.floating-skills {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap !important;
    gap: 2.5rem;
    border-radius: 10px;
    margin-top: 1rem;
    min-height: 30vh;
  }
  .floating-skills .header {
    position: relative;
  }
  .floating-skills .header::before {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: 75%;
    height: 0.25rem;
    border-radius: 3px;
    background-color: var(--COLORFULL_YELLOW);
    transition: all ease 300ms;
  }
  .floating-icons {
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    margin-bottom: 2rem;
    transform: translateY(-20%);
    opacity: 0;
    transition: all ease 300ms;
  }
  .floating-icons img {
    height: 3.5rem;
    width: 3.5rem;
  }
  
  .floating-icons span {
    opacity: 0;
    visibility: hidden;
    color: var(--WHITE);
    transition: all ease 300ms;
  }
  .floating-icons:hover > span {
    margin-top: 1rem;
    opacity: 1;
    visibility: visible;
  }
  .floating-icons img {
    transition: all ease 300ms;
  }
  .floating-icons:hover > img {
    transform: scale(1.2);
  }