@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap");
:root {
  --BG_SHADE_LIGHTER: #201d3a;
  --BG_SHADE_DARKER: #191634;
  --MODAL_BG_TRANSPARENT:rgb(27, 27, 27,0.5);
  --MAIN_ACCENT: #08d565;
  --WHITE: #ffffff;
  --BLACK: #000000;
  --LIGHT_BLACK: #1b1b1b;
  --COLORFULL_PINK: #f83097;
  --COLORFULL_YELLOW: #e97518;
  --COLORFULL_PURPLE: #6718e9;
  --TEXT_SUCCESS:hsl(141, 71%, 48%);
  --TEXT_DANGER:hsl(348, 100%, 61%);
  --delay: 100ms;
  --MAIN_FONT: "Montserrat", sans-serif;
}
body,
html {
  background-color: var(--BG_SHADE_DARKER);
  font-family: var(--MAIN_FONT);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden !important;
  position: relative;
}
::selection {
  background-color: #296fa8;
  color: #fff;
}
/* width */
body::-webkit-scrollbar {
  width: 8px;
}
/* Track */
body::-webkit-scrollbar-track {
  background: var(--BG_SHADE_LIGHTER);
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background-color: var(--COLORFULL_PURPLE);
  border-radius: 2px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: var(--MAIN_ACCENT);
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: unset;
}
h1,h2,h3,h4{
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}
::selection {
  background-color: var(--BLACK);
  color: var(--MAIN_ACCENT);
}
main {
  position: relative;
}
ion-icon{
  pointer-events: none;
}
.container {
  position: relative;
  width: 100%;
  max-width: 90vw;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
.section-heading {
  margin-block-start: unset;
  margin-block-end: unset;
  font-size: 2rem;
  font-weight: 700;
  color: var(--COLORFULL_YELLOW);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.btn {
  background-color: var(--BG_SHADE_LIGHTER);
  outline: none;
  border: 1px solid var(--BG_SHADE_LIGHTER);
  border-radius: 2px;
  padding: 10px 20px;
  color: var(--COLORFULL_YELLOW);
  cursor: pointer;
  transition: all ease 300ms;
}
.btn:hover {
  background-color: var(--BG_SHADE_DARKER);
  border: 1px solid var(--COLORFULL_YELLOW);
}
.btn:active {
  transform: scale(0.95);
  box-shadow: 0px 0px 5px var(--COLORFULL_YELLOW);
  background-color: var(--BLACK);
  transition: all ease 300ms;
}
.bg-main-darker {
  background-color: var(--BG_SHADE_DARKER);
}
.bg-main-lighter {
  background-color: var(--BG_SHADE_LIGHTER);
}
.color-main-accent {
  color: var(--MAIN_ACCENT);
}
/* spinner style */
#spinner-lg {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 4px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: var(--MAIN_ACCENT);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
#spinner-md {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 4px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: var(--MAIN_ACCENT);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
#spinner-sm {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 4px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: var(--MAIN_ACCENT);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}

/* spinner styles end */

 /* modal styles start  */
.modal
{
  position: relative;
  display: none;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  inset: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--MODAL_BG_TRANSPARENT);
  backdrop-filter: blur(10px);
}
.modal.active{
  display: flex;
}
.modal-content
{
  position: relative;
  background-color: var(--BG_SHADE_DARKER);
  padding: 1rem;
  max-width: 80vw;
  margin: 3rem auto;
  width: 60%;
  border-radius: 5px;
  border: 2px solid var(--BG_SHADE_LIGHTER);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation: animatetop 0.5s ease;
}
@-webkit-keyframes animatetop
{
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
@keyframes animatetop
{
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.modal-header
{
  position: relative;
  border-bottom: 1.5px solid var(--COLORFULL_YELLOW);
  padding-bottom: 1rem;
  color: var(--MAIN_ACCENT);
}
.modal-header h2{
  display: flex;
  align-items: center;
  font-size: 2em;
}
.modal-close-btn
{
  height: 2.25rem;
  width: 2.25rem;
  display: flex;
  align-items: center;
  position: absolute;
  top: -1rem;
  right: -1rem;
  background-color: var(--LIGHT_BLACK);
  color: var(--TEXT_DANGER);
  outline: none;
  border: 1.5px solid var(--WHITE);
  font-size: x-large !important;
  border-radius: 100%;
  z-index: 9999;
  transition: all ease 300ms;
}
.modal-close-btn:hover
{
  background-color: var(--TEXT_DANGER);
  color: var(--WHITE);
  transform: scale(1.125);
}
.modal-close-btn > ion-icon{
  transition: all ease 300ms;
}
.modal-close-btn:hover > ion-icon{
  transform: rotateY(180deg) rotateX(180deg) rotateZ(90deg) scale(1.5);
}
.modal-header.to-be-closed{
  opacity: 0.5;
  filter: blur(2px);
}
.modal-body.to-be-closed{
  opacity: 0.5;
  filter: blur(2px);
}
.modal-body
{
  height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
  color: var(--WHITE);
  padding: 0.75rem;
}
.modal-body::-webkit-scrollbar{
  background-color: transparent;
  width: 5px;
}
.modal-body::-webkit-scrollbar-thumb{
  background-color: var(--BG_SHADE_LIGHTER);
  border-radius: 10px;
}
.modal-footer
{
  position: relative;
  height: fit-content;
  width: 100%;
  background-color: #5cb85c !important;
  color: white;
}
 /* modal styles end  */

.main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  height: auto;
  padding-block: 0.5rem;
  transition: all ease 0.3s;
}
.main-navigation.scrolled {
  background-color: var(--BG_SHADE_LIGHTER);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4rem;
  height: auto;
  color: var(--WHITE);
}
.logo {
  font-family: "Comforter Brush", cursive;
  font-size: xx-large;
  transform: rotate(-7deg);
  user-select: none;
  cursor: pointer;
  transition: all ease 300ms;
}
.logo span {
  color: var(--MAIN_ACCENT);
}
.logo:hover {
  letter-spacing: 5px;
  line-height: 2;
}
.navbar {
  position: fixed;
  right: 1rem;
  top: 4.5rem;
  height: 75vh;
  min-width: 15vw;
  width: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  padding: 1.5rem;
  background: var(--BG_SHADE_LIGHTER);
  border-radius: 24px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
  transform: translateX(1000%);
  transition: all 300ms ease;
}
.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/blob-navbar.svg") no-repeat center center;
  background-position: fixed;
  background-size: cover;
  opacity: 0.25;
  z-index: -1;
  transition: all ease 300ms;
}
.navbar::-webkit-scrollbar {
  display: none;
}
.navbar.is-open {
  transform: translateX(0);
}
@media (max-width: 900px) {
  .navbar {
    min-width: 40vw;
    width: auto;
  }
  .nav-links a::after {
    display: none;
  }
  .nav-links a::before {
    display: none;
  }
}
@media (max-width:768px){
  .modal-content{
    width: 80vw;
  }
}
.mobile-nav-toggle {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 2.5rem;
  border: none;
  background: transparent;

  cursor: pointer;
  transition: all ease 300ms;
}
.hamburger {
  width: 100%;
  height: 2px;
  background: var(--MAIN_ACCENT);
  border-radius: 10px;
  transition: all ease 300ms;
}
.mobile-nav-toggle.open .line_1 {
  transform: rotate(-45deg) translate(-8px, 6px);
  background: var(--MAIN_ACCENT);
}
.mobile-nav-toggle.open .line_2 {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%) rotate(360deg);
}
.mobile-nav-toggle.open .line_3 {
  transform: rotate(45deg) translate(-8px, -6px);
  background: var(--MAIN_ACCENT);
}
.hamburger:nth-child(1) {
  transition-delay: 0.1s;
}

.hamburger:nth-child(2) {
  transition-delay: 0s;
}

.hamburger:nth-child(3) {
  transition-delay: 0.2s;
}
.nav-links {
  position: relative;
  text-transform: uppercase;
  font-size: 1.25rem;
  width: 100%;
  text-align: center;
  border: 1px solid var(--WHITE);
  border-radius: 4px;
  transition: all ease 300ms;
}
.nav-links a::after {
  content: "<";
  position: absolute;
  left: -50%;
  top: 50%;
  transform: translate(0, -50%);
  width: auto;
  height: auto;
  font-family: "Comfortaa", cursive;
  font-size: x-large;
  transition: all ease 300ms;
}
.nav-links a::before {
  content: "/>";
  position: absolute;
  right: -50%;
  top: 50%;
  transform: translate(0, -50%);
  width: auto;
  height: auto;
  font-family: "Comfortaa", cursive;
  font-size: x-large;
  transition: all ease 300ms;
}
.nav-links a:hover::after {
  left: 5%;
}
.nav-links a:hover::before {
  right: 5%;
}
.nav-links a {
  display: block;
  width: inherit;
  padding: 1rem 0;
  border-radius: 4px;
}
.nav-links:hover {
  border: 1px solid var(--MAIN_ACCENT);
  border-radius: 4px;
  background-color: var(--BG_SHADE_DARKER);
  color: var(--MAIN_ACCENT);
}

#animated-text-hero {
  position: relative;
  min-height: 80vh;
  width: 100%;
  text-align: center;
  font-size: xx-large;
  font-family: var(--MAIN_FONT);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transform: translateY(-10%);
  opacity: 0;
}

#animated-text-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/blob-1.svg") no-repeat center center;
  background-position: fixed;
  background-size: cover auto;
  opacity: 0.25;
  backdrop-filter: blur(10px);
  z-index: -1;
  transition: all ease 300ms;
}
@keyframes appear-from-middle {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#animated-text-hero h1 {
  color: var(--MAIN_ACCENT);
  margin-bottom: 1rem;
}
#animated-text-hero .hi-span {
  display: inline-block;
  transform: translate(-100%);
  opacity: 0;
  font-size: 8rem;
}
@keyframes slide-in-left {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#animated-text-hero h2 {
  overflow: hidden;
  position: relative;
  color: var(--WHITE);
  margin-bottom: 0.5rem;
  transition: all ease 300ms;
}
.profession-span {
  display: flex;
  align-items: center;
  color: var(--MAIN_ACCENT);
  border-radius: 3px;
  padding: 0 0.5rem;
  transition: all ease 750ms;
}
.profession-span.pre-animation {
  opacity: 0;
  transform: translateY(100%) scale(0.75);
}

@keyframes gradient-animation {
  0%,
  50% {
    color: var(--MAIN_ACCENT);
  }
  25% {
    color: var(--COLORFULL_PINK);
  }
  50%,
  100% {
    color: var(--COLORFULL_YELLOW);
  }
  75% {
    color: var(--COLORFULL_PINK);
  }
  100% {
    color: var(--MAIN_ACCENT);
  }
}
.get-in-touch-btn {
  position: relative;
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  padding: 12px 22px;
  margin-top: 2rem;
  border: none !important;
  border-radius: 4px;
  background-color: transparent;
  color: var(--COLORFULL_YELLOW);
  font-size: x-large;
  transition: all ease 300ms;
}
.get-in-touch-btn::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  background-color: var(--LIGHT_BLACK);
  border-radius: 6px;
  z-index: -1;
  transition: all ease 300ms;
}
.get-in-touch-btn:hover{
  background-color: unset;
  border: unset;
}
.get-in-touch-btn span{
  position: relative;
  margin-bottom: 0.5rem;
  transition: all ease 300ms;
}
.get-in-touch-btn span::before{
  content: "";
  position: absolute;
  bottom: -0.25rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0;
  height: 2px;
  background-color: var(--COLORFULL_YELLOW);
  border-radius: 6px;
  z-index: -1;
  transition: all ease 300ms;

}
.get-in-touch-btn span:hover::before{
  width: 75%;
  transition-delay: 300ms;
}

.get-in-touch-btn:hover::before{
  width: 100%;
  height: 100%;
  border: 1.5px solid var(--WHITE);
}
.get-in-touch-btn ion-icon {
  transform: rotate(-45deg);
}
.get-in-touch-btn:hover > ion-icon {
  animation: bibble 2s ease-in-out infinite;
}
@keyframes bibble {
  0% {
    transform: rotate(-45deg);
  }
  25% {
    transform: rotate(-35deg);
  }
  50% {
    transform: rotate(-50deg);
  }
  75% {
    transform: rotate(-35deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
.name-span-div{
  margin-bottom: 1rem;
}
.name-span {
  position: relative;
  white-space: nowrap;
  color: var(--COLORFULL_YELLOW);
  font-family: "Comforter Brush", cursive;
  letter-spacing: 5px;
  transition: all ease 300ms;
}
.name-span::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 2px;
  background: var(--COLORFULL_YELLOW);
  opacity: 0;
  transition: all ease 300ms;
}
.name-span:hover {
  color: var(--COLORFULL_PURPLE);
}
.name-span:hover::after {
  opacity: 1;
  width: 65%;
}

.floating-skills {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap !important;
  gap: 2.5rem;
  border-radius: 10px;
  margin-top: 1rem;
  min-height: 30vh;
}
.floating-skills .header{
  position:relative;
}
.floating-skills .header::before{
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translate(-50%,0);
  width: 75%;
  height: 0.25rem;
  border-radius: 3px;
  background-color: var(--COLORFULL_YELLOW);
  transition: all ease 300ms;
}
.floating-icons {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  transform: translateY(-20%);
  margin-bottom: 2rem;
  opacity: 0;
  transition: all ease 300ms;
}

@keyframes slide-in-up {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.floating-icons span {
  opacity: 0;
  visibility: hidden;
  color: var(--WHITE);
  transition: all ease 300ms;
}
.floating-icons:hover > span {
  margin-top: 1rem;
  opacity: 1;
  visibility: visible;
}
.floating-icons img {
  transition: all ease 300ms;
}
.floating-icons:hover > img {
  transform: scale(1.2);
}
.socials{
  text-align: center;
  margin-bottom: 1rem;
}
.socials span:first-child, .socials span:last-child{
  color: var(--COLORFULL_YELLOW);
}
.social-links{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}
.social-links a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social-links-name{
  transform: translateY(-30%);
  opacity: 0;
  visibility: hidden;
  font-size: small;
  margin-bottom: 0.5rem;
  color: var(--WHITE) !important;
  transition: all ease 300ms;
}
.social-links a:hover .social-links-name{
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.social-links a{
  font-size: larger;
  color: var(--WHITE);
  transition: all ease 300ms;
}
.social-links a:hover{
  color: var(--COLORFULL_PINK);
}
.or-section{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  color:var(--WHITE);
  opacity: 0.5;
}
.or-section hr{
  width: 100%;
  background: var(--COLORFULL_YELLOW);
}
#get-in-touch-form{
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  background-color: var(--BG_SHADE_LIGHTER);
  border-radius: 10px;
}
.input-group{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}
.input-group-append .input-group{
  flex-direction: row;
}
.input-group input, .input-group textarea{
  position: relative;
  width: 95%;
  height: auto;
  border: none;
  border-radius: 6px;
  background-color: var(--LIGHT_BLACK);  
  color: var(--WHITE);
  font-family: inherit;
  font-size: large;
  padding: 0.5rem 1rem;
  transition: all ease 300ms;
}
.input-group textarea{
  width: auto;
  resize: none;
}
/* .input-group label{
  display: none;
} */
.input-group input:hover, .input-group textarea:hover{
  filter: brightness(0.9);
}
.input-group input::placeholder, .input-group textarea::placeholder{
  color: var(--COLORFULL_PURPLE);
  font-weight:lighter;
  opacity: 0.75;
}
.input-group input:focus, .input-group textarea:focus{
  outline: 1px solid var(--COLORFULL_YELLOW);
}
.input-group input:focus::placeholder, .input-group textarea:focus::placeholder{
  color: var(--COLORFULL_YELLOW);
  font-weight:lighter;
  opacity: 0.75;
}

.input-group-append{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
#modal-send-msg-btn{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--TEXT_SUCCESS);
  color: var(--WHITE);
  border: 2px solid var(--TEXT_SUCCESS);
  border-radius: 6px;
  padding: 0.5rem 1rem;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  transition: all ease 300ms;
}

#modal-send-msg-btn:hover, #modal-send-msg-btn:focus-visible{
  background-color: var(--MAIN_ACCENT);
  border: 2px solid var(--WHITE);
}
#modal-send-msg-btn ion-icon{
  transition: all ease 300ms;
}
#modal-send-msg-btn:hover > ion-icon{
  transform: translateX(10%);
}
