@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap");
:root {
  --BG_SHADE_LIGHTER: #201d3a;
  --BG_SHADE_DARKER: #191634;
  --MODAL_BG_TRANSPARENT: rgb(27, 27, 27, 0.5);
  --MAIN_ACCENT: #08d565;
  --WHITE: #ffffff;
  --BLACK: #000000;
  --LIGHT_BLACK: #1b1b1b;
  --COLORFULL_PINK: #f83097;
  --COLORFULL_YELLOW: #e97518;
  --COLORFULL_PURPLE: #6718e9;
  --TEXT_SUCCESS: hsl(141, 71%, 48%);
  --TEXT_DANGER: hsl(348, 100%, 61%);
  --delay: 100ms;
  --MAIN_FONT: "Montserrat", sans-serif;
  --LOGO_FONT: "Comforter Brush", cursive;
}
body,
html {
  background-color: var(--BG_SHADE_DARKER);
  font-family: var(--MAIN_FONT);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden !important;
  position: relative;
}
::selection {
  background-color: #296fa8;
  color: #fff;
}
/* width */
body::-webkit-scrollbar {
  width: 8px;
}
/* Track */
body::-webkit-scrollbar-track {
  background: var(--BG_SHADE_LIGHTER);
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background-color: var(--COLORFULL_PURPLE);
  border-radius: 2px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: var(--MAIN_ACCENT);
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: unset;
}
h1,
h2,
h3,
h4 {
  margin-block-start: 0;
  margin-block-end: 0;
}
::selection {
  background-color: var(--BLACK);
  color: var(--MAIN_ACCENT);
}
textarea::-webkit-scrollbar {
  background-color: transparent;
  width: 0.25rem;
}
textarea::-webkit-scrollbar-thumb {
  background-color: var(--COLORFULL_YELLOW);
}
ion-icon {
  pointer-events: none;
}
.main {
  position: relative;
  min-height: 90vh;
  margin-top: 7rem;
  
}
.container {
  position: relative;
  width: 100%;
  max-width: 90vw;
  margin: 0 auto;
  padding: 0;
}
.section-heading {
  font-size: 2rem;
  font-weight: 700;
  color: var(--COLORFULL_YELLOW);
  transform: translateY(-100%);
  opacity: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 1.25rem 0rem;
}
@keyframes appear-from-left {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes appear-from-top {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn {
  background-color: var(--BG_SHADE_LIGHTER);
  outline: none;
  border: 1px solid var(--BG_SHADE_LIGHTER);
  border-radius: 2px;
  padding: 10px 20px;
  color: var(--COLORFULL_YELLOW);
  cursor: pointer;
  transition: all ease 300ms;
}
.btn:hover {
  background-color: var(--BG_SHADE_DARKER);
  border: 1px solid var(--COLORFULL_YELLOW);
}
.btn:active {
  transform: scale(0.95);
  box-shadow: 0px 0px 5px var(--COLORFULL_YELLOW);
  background-color: var(--BLACK);
  transition: all ease 300ms;
}
.bg-main-darker {
  background-color: var(--BG_SHADE_DARKER);
}
.bg-main-lighter {
  background-color: var(--BG_SHADE_LIGHTER);
}
.color-main-accent {
  color: var(--MAIN_ACCENT);
}
/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid var(--MAIN_ACCENT);
  -webkit-text-fill-color: var(--WHITE);
  transition: background-color 5000s ease-in-out 0s;
}
/* spinner style */
.spinner-lg {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 4px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  border-top-color: var(--MAIN_ACCENT);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
.spinner-md {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 4px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  border-top-color: var(--MAIN_ACCENT);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
.spinner-sm {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 4px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
  border-top-color: var(--MAIN_ACCENT);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    border-top-color: var(--COLORFULL_YELLOW);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    border-top-color: var(--COLORFULL_YELLOW);
  }
}

/* spinner styles end */

/* modal styles start  */
.modal {
  position: relative;
  display: none;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  inset: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--MODAL_BG_TRANSPARENT);
  backdrop-filter: blur(10px);
}
.modal::-webkit-scrollbar {
  display: none;
}
.modal.active {
  display: flex;
}
.modal-content {
  position: relative;
  background-color: var(--BG_SHADE_DARKER);
  padding: 1rem;
  max-width: 80vw;
  margin: 3rem auto;
  width: 60%;
  border-radius: 5px;
  border: 2px solid var(--BG_SHADE_LIGHTER);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation: modalAppear 0.5s ease;
}
.modal-header {
  position: relative;
  border-bottom: 1.5px solid var(--COLORFULL_YELLOW);
  padding-bottom: 1rem;
  color: var(--MAIN_ACCENT);
}
.modal-header h2 {
  display: flex;
  align-items: center;
  font-size: 2em;
}
.modal-close-btn {
  height: 2.25rem;
  width: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -1rem;
  right: -1rem;
  background-color: var(--LIGHT_BLACK);
  color: var(--TEXT_DANGER);
  outline: none;
  border: 1.5px solid var(--WHITE);
  font-size: x-large;
  border-radius: 100%;
  z-index: 9999;
  transform: scale(1.125);
  transition: all ease 300ms;
}
.modal-close-btn:hover {
  background-color: var(--TEXT_DANGER);
  color: var(--WHITE);
}
.modal-close-btn:focus {
  transform: scale(0.95);
  box-shadow: 0px 0px 5px var(--TEXT_DANGER);
}
.modal-close-btn > ion-icon {
  transition: all ease 300ms;
}
.modal-close-btn:hover > ion-icon {
  transform: rotate(180deg);
}
.modal-header.to-be-closed {
  opacity: 0.5;
  filter: blur(2px);
}
.modal-body.to-be-closed {
  opacity: 0.5;
  filter: blur(2px);
}
.modal-body {
  height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
  color: var(--WHITE);
  padding: 0.75rem;
}
.modal-body::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}
.modal-body::-webkit-scrollbar-thumb {
  background-color: var(--BG_SHADE_LIGHTER);
  border-radius: 10px;
}
.modal-footer {
  position: relative;
  height: fit-content;
  width: 100%;
  background-color: #5cb85c !important;
  color: white;
}
/* modal styles end  */

.main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  height: auto;
  padding-block: 0.5rem;
  transition: all ease 0.3s;
}
.main-navigation.scrolled {
  background-color: var(--BG_SHADE_LIGHTER);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.navbar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4rem;
  height: auto;
  color: var(--WHITE);
}
.logo {
  font-family: var(--LOGO_FONT);
  font-size: xx-large;
  transform: rotate(-7deg);
  user-select: none;
  cursor: pointer;
  transition: all ease 300ms;
}
.logo span {
  color: var(--MAIN_ACCENT);
}
.logo:hover {
  letter-spacing: 5px;
  transform: rotate(0);
}

.navbar {
  position: fixed;
  right: 1rem;
  top: 4.5rem;
  height: 75vh;
  min-width: 15vw;
  width: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  padding: 1.5rem;
  background-color: var(--BG_SHADE_LIGHTER);
  border-radius: 24px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
  transform: translateX(1000%);
  transition: all 300ms ease;
}
.navbar-title {
  width: 100%;
  font-size: x-large;
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  color: var(--MAIN_ACCENT);
  z-index: 9999;
}
.navbar::-webkit-scrollbar {
  display: none;
}
.navbar.is-open {
  transform: translateX(0);
}
@media (max-width: 900px) {
  .navbar {
    min-width: 50vw;
    width: auto;
  }
  .nav-links a::after {
    display: none;
  }
  .nav-links a::before {
    display: none;
  }
}
@media (max-width: 768px) {
  .modal-content {
    width: 80vw;
  }
}
.mobile-nav-toggle {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 3rem;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  transform-origin: center;
  background: transparent;
  cursor: pointer;
  transition: all ease 300ms;
}
.mobile-nav-toggle:hover {
  background-color: var(--BG_SHADE_LIGHTER);
  outline: 1px solid var(--MAIN_ACCENT);
}
.mobile-nav-toggle.open:hover {
  background-color: var(--BG_SHADE_LIGHTER);
  outline: 1px solid var(--TEXT_DANGER);
}

.hamburger {
  width: 100%;
  height: 2px;
  background: var(--WHITE);
  border-radius: 10px;
  transition: all ease 300ms;
}
.mobile-nav-toggle.open .line_1 {
  transform: rotate(45deg) translate(7px, 6px);
  background: var(--TEXT_DANGER);
}
.mobile-nav-toggle.open .line_2 {
  opacity: 0;
  visibility: hidden;
  background-color: var(--TEXT_DANGER);
  transform: translateX(100%) rotate(15deg);
}
.mobile-nav-toggle.open .line_3 {
  transform: rotate(-45deg) translate(7px, -6px);
  background: var(--TEXT_DANGER);
}
.hamburger:nth-child(1) {
  transition-delay: 0.1s;
}

.hamburger:nth-child(2) {
  transition-delay: 0s;
}

.hamburger:nth-child(3) {
  transition-delay: 0.2s;
}
.nav-links {
  position: relative;
  text-transform: uppercase;
  font-size: 1.25rem;
  width: 100%;
  text-align: center;
  border: 1px solid var(--WHITE);
  border-radius: 4px;
  transition: all ease 300ms;
}
.nav-links a::after {
  content: "<";
  position: absolute;
  left: -50%;
  top: 50%;
  transform: translate(0, -50%);
  width: auto;
  height: auto;
  font-family: "Comfortaa", cursive;
  font-size: x-large;
  transition: all ease 300ms;
}
.nav-links a::before {
  content: "/>";
  position: absolute;
  right: -50%;
  top: 50%;
  transform: translate(0, -50%);
  width: auto;
  height: auto;
  font-family: "Comfortaa", cursive;
  font-size: x-large;
  transition: all ease 300ms;
}
.nav-links a:hover::after {
  left: 5%;
}
.nav-links a:hover::before {
  right: 5%;
}
.nav-links a {
  display: block;
  width: inherit;
  padding: 1rem 0;
  border-radius: 4px;
}
.nav-links:hover {
  border: 1px solid var(--MAIN_ACCENT);
  border-radius: 4px;
  background-color: var(--BG_SHADE_DARKER);
  color: var(--MAIN_ACCENT);
  animation: space-out-in 0.85s ease forwards;
}
.or-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0.5rem;
  color: var(--WHITE);
  opacity: 0.5;
}
.or-section hr {
  width: 100%;
  border-radius: 5px;
}

.social-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}
.social-links a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(1.25);
  padding-bottom: 0.5rem;
}
.social-links-name {
  transform: translateY(-30%);
  opacity: 0;
  visibility: hidden;
  font-size: small;
  margin-bottom: 0.5rem;
  color: var(--WHITE) !important;
  transition: all ease 300ms;
}
.social-links a:hover .social-links-name {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.social-links a {
  font-size: larger;
  color: var(--WHITE);
  transition: all ease 300ms;
}
.social-links a:hover {
  transform: scale(1);
  color: var(--COLORFULL_PINK);
}

.input-group {
  position: relative;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 0.75rem;
  text-align: center;
}
.input-group-append {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.input-group-append .input-group {
  width: auto;
  flex: auto;
  margin-bottom: 0;
}
.input-field {
  position: relative;
  width: 100%;
  height: auto;
  flex-grow: auto;
  border-radius: 6px;
  background-color: var(--LIGHT_BLACK);
  border: 1px solid var(--LIGHT_BLACK);
  outline: none;
  color: var(--WHITE);
  font-family: inherit;
  font-size: large;
  padding: 0.5rem 1rem;
  transition: all ease 300ms;
}
.input-group textarea {
  height: 10rem !important;
  width: 100% !important;
  resize: none;
}
.input-field:hover {
  border: 1px solid var(--MAIN_ACCENT);
}
.input-field:focus {
  border: 1px solid var(--MAIN_ACCENT);
}
.input-field::placeholder {
  color: var(--WHITE);
  font-weight: lighter !important;
  transform: translateY(0);
  opacity: 0.5;
  transition: all ease 300ms;
}
.input-field:focus::placeholder {
  transform: translateY(-100%);
  opacity: 0;
}

.input-label {
  transform: translateY(50%);
  opacity: 0;
  visibility: hidden;
  color: var(--MAIN_ACCENT);
  transition: all ease 300ms;
  transition-delay: 150ms;
}

.pending-implementation {
  /* generic class */
  color: var(--COLORFULL_PINK);
  opacity: 0.5;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.pending-implementation ion-icon {
  /* generic class */
  color: var(--WHITE);
  opacity: 0.5;
  font-size: large;
}

/* footer styles */
.footer {
  width: 100%;
  font-weight: lighter;
  text-align: center;
  margin-top: 2.5rem;
  background-color: var(--BG_SHADE_LIGHTER);
  border-top: 1px solid var(--COLORFULL_PURPLE);
}

.footer .container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap-reverse;
  gap: 2rem;
  padding: 2rem 0rem;
}
.footer .footer-left {
  display: flex;
  justify-content: flex-start;
  text-align: flex-start;
  color: var(--WHITE);
  font-size: small;
  font-weight: lighter;
}
.footer .footer-middle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
}
.footer .footer-right {
  display: flex;
  justify-content: flex-end;
}
.footer .footer-left .footer-ack h3 {
  width: max-content;
  font-family: var(--LOGO_FONT);
  font-size: x-large;
  font-weight: lighter;
  color: var(--COLORFULL_YELLOW);
  margin-bottom: 0.5rem;
  letter-spacing: 1.5px;
}
.footer .footer-left .footer-ack h3:hover {
  color: var(--MAIN_ACCENT);
}
.footer .footer-left .footer-ack p {
  text-align: start;
}
.footer .footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: start;
}
.footer .footer-links h3 {
  font-weight: bold;
  font-size: larger;
  color: var(--COLORFULL_YELLOW);
  border-bottom: 1px solid var(--COLORFULL_PURPLE);
}
.footer .footer-links a {
  position: relative;
  color: var(--WHITE);
  text-decoration: none;
  transition: all ease 300ms;
}
.footer .footer-links a::before {
  content: "-";
  position: absolute;
  right: 100%;
  color: var(--WHITE);
  margin: 0 0.25rem;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%);
  transition: all ease 300ms;
}
.footer .footer-links a:hover {
  color: var(--MAIN_ACCENT);
}
.footer .footer-links a:hover::before {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
}
.subscribe-footer {
  margin-bottom: 1rem;
}
.subscribe-footer label {
  color: var(--COLORFULL_YELLOW);
  font-weight: bold;
  font-size: larger;
}
.subscribe-footer input {
  border: 1px solid var(--COLORFULL_YELLOW);
}

.copy-right-footer {
  color: var(--WHITE);
  opacity: 0.5;
  padding: 0.5rem 0 !important;
  gap: 0 !important;
}
.copy-right-footer #hr {
  display: block;
  width: 100%;
  height: 0.5px;
  background-color: var(--WHITE);
  opacity: 0.5;
}
@media (max-width: 768px) {
  .footer .container {
    justify-content: start;
  }
}
/* footer styles end */


/* keyframes/animations */
@keyframes space-out-in {
  0% {
    letter-spacing: normal;
  }
  50% {
    letter-spacing: 2.5px;
  }
  100% {
    letter-spacing: normal;
  }
}
@keyframes appear-from-middle {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-in-up {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes bibble {
  0% {
    transform: rotate(-45deg);
  }
  25% {
    transform: rotate(-35deg);
  }
  50% {
    transform: rotate(-50deg);
  }
  75% {
    transform: rotate(-35deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}
@keyframes gradient-animation {
  0%,
  50% {
    color: var(--MAIN_ACCENT);
  }
  25% {
    color: var(--COLORFULL_PINK);
  }
  50%,
  100% {
    color: var(--COLORFULL_YELLOW);
  }
  75% {
    color: var(--COLORFULL_PINK);
  }
  100% {
    color: var(--MAIN_ACCENT);
  }
}
@-webkit-keyframes modalAppear {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes modalAppear {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/* keyframes/animations end */